body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#header{
  position: fixed;
  height: 20%;
  width: 100%;
 
  font-style: italic;
  left:0%;
}
#leftMenu{
  position: fixed;
  top:21%;
  height: 80%;
  width: 10.8%;
  left:0%;
  
 
}
#mainFrame{
  position: fixed;
  top:21%;
  left:20%;
  height: 80%;
  width: 90%;
}